/**
 * Sample Project - This is a demo project designed to display coding ability.
 *                  No permission is given to copy, distribute or reuse the code.
 * Copyright (C) 2017 Miha Kitič <miha.kitic@mksp.si>
**/

/**
 * Ensure that height of all nodes is consistantly set to 100%. */
html, body, div#sample-application-main-placeholder {
    height     :100%;
}

/**
 * Formatting of control bar components. */
.controlbar-components {
    width      : 4em;
    font-size  : 2em;
    height     : 32px;
}

/**
 * Controlbar button & icon within. */
.controlbar-components-btn {
    height     : 32px;
    width      : 32px;
}

.controlbar-components-btn > span.glyphicon {
    font-size  : 18px;
}

