<!DOCTYPE html>
{% comment %}
   Sample Project - This is a demo project designed to display coding ability.
                    No permission is given to copy, distribute or reuse the code.
   Copyright (C) 2017 Miha Kitič <miha.kitic@mksp.si>

{% endcomment %}

{% load staticfiles %}

<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="{% static 'sample/img/favicon.jpg' %}">

        <title>
            MKSP.si Sample Project
        </title>


        <!-- Bootstrap CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" type="text/css">


        <!-- DataTables -->
        <link href="{% static 'datatables/DataTables-1.10.15/datatables.min.css' %}"
              rel="stylesheet" type="text/css" >
        <link href="{% static 'datatables/DataTables-1.10.15/Select-1.2.2/css/select.bootstrap.min.css' %}"
              rel="stylesheet" type="text/css" >
        <link href="{% static 'datatables/DataTables-1.10.15/FixedHeader-3.1.2/css/fixedHeader.bootstrap.min.css' %}"
              rel="stylesheet" type="text/css" >
        <link href="{% static 'datatables/DataTables-1.10.15/RowGroup-1.0.0/css/rowGroup.bootstrap.min.css' %}"
              rel="stylesheet" type="text/css" >


        <!-- Common CSS style. -->
        <style type="text/css">

        </style>

        <!-- Place here all external links that MUST NOT be compressed!!! -->


        <!------------------------------------------------------------------>


        <!-- Javascript section -->

        <!--  JQUERY - JavaScript essentials -->
        <script src="{% static 'jquery/1.12.4/jquery-1.12.4.min.js' %}"
                type="text/javascript" charset="utf-8"></script>

        <!--  MVC framework - Using Agility here -->
        <script src="{% static 'agility/0.1.3/agility.js' %}"
                type="text/javascript" charset="utf-8"></script>

        <!--  BOOTSTRAP - form element styling -->
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"
                type="text/javascript" ></script>


        <!-- DataTables JS -->
        <script src="{% static 'datatables/DataTables-1.10.15/datatables.min.js' %}"
                type="text/javascript" ></script>
        <script src="{% static 'datatables/DataTables-1.10.15/Select-1.2.2/js/dataTables.select.min.js' %}"
                type="text/javascript" ></script>
        <script src="{% static 'datatables/DataTables-1.10.15/FixedHeader-3.1.2/js/dataTables.fixedHeader.min.js' %}"
                type="text/javascript" ></script>
        <script src="{% static 'datatables/DataTables-1.10.15/RowGroup-1.0.0/js/dataTables.rowGroup.min.js' %}"
                type="text/javascript" ></script>


        <script type="text/javascript" src="{% static 'moment/2.10.6/moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap-daterangepicker/2.1.14/daterangepicker.js' %}"></script>


        <!-- Actual application entry point -->
        <script src="{% static 'sample/js/sampleTop.js' %}"
                type="text/javascript" ></script>
        <script src="{% static 'sample/js/sampleBase.js' %}"
                type="text/javascript" ></script>
        <script src="{% static 'sample/js/sampleTable.js' %}"
                type="text/javascript" ></script>
        <script src="{% static 'sample/js/sampleSVG.js' %}"
                type="text/javascript" ></script>
        <script src="{% static 'sample/js/agility_loading.js' %}"
                type="text/javascript" ></script>
        <script src="{% static 'sample/js/main.js' %}"
                type="text/javascript" ></script>


        <!-- External CSS files -->
        <link href="{% static 'sample/css/master.css' %}"
          rel="stylesheet" type="text/css">


    </head>

    <body>
        <div id="sample-application-main-placeholder"></div>
    </body>

</html>
